.create-invoice-input-row {
  display: flex;
  flex-direction: column;
}
.create-invoice-input-row input {
  margin: 0;
  width: 90%;
}
.create-invoice-input-row label {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.create-invoice-input-wrapper {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.create-invoice-product-input-wrapper {
  margin-top: 5px;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.create-invoice-product-input-wrapper label {
  display: flex;
  flex-direction: column;
}
.create-invoice-product-input-wrapper input {
  width: 98%;
  margin: 0;
}
.create-invoice-preview {
  display: none;
}
.create-invoice-heading-button {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.select-commision {
  width: 90%;
}
.cros-product-input {
  height: 20px;
  width: 20px;
  color: red;
  border-radius: 50%;
  margin-top: -20px;
  margin-left: -15px;
  cursor: pointer;
}

.custom-invoice-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.select-invoice-btn {
  margin-left: 10px;
  padding: 5px 3px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.active-invoice-select-btn {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
